<h1>Create Milkshake</h1>

<% if @milkshake.errors.any? %>
    <% for error in @milkshake.errors.full_messages %>
        <p><%= error %></p>
    <% end %>
<% end %>

<%= form_with model: @milkshake, local: true do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :price, "Price (in cents)" %>
        <%= form.number_field :price, min: 0 %>
    </div>
    <%= form.submit %>
<% end %>